body{
    box-sizing: border-box;
    height:100%;
    width: 100%;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color:#0c0000;
    font-family: "Copperplate", Times, serif;
    text-align: justify;
  }
img {
    max-width: 100%;
    width: auto;
    height: auto;
    position: auto;
  }
  .logo {
    position: relative;
    top: 4px;
    left: 57px;
  }
  .menu{
    background-color: #0C3849;
    width: 100%;
    height:5px;
    margin: 0;
    border-radius: 40px;
  }
  #wrap{
    margin: 0 auto;
}
#back{
    margin: 0 auto;
    width: 50px;
    height: 50px;
    image-rendering: auto;
    position: fixed;
    right: 40px;
    bottom: 40px;
}
.tt {
  position: relative;
  top: -15vh;
  left: 1vh;
}
a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Arial", Times, serif;
  background: #000000;
  height: 12vh;
}
.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #000000;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}
.baseboard{
  background-color: #0e0b0b;
  width: 100%;
  height:100px;
  margin: 0;
}
.contlo {
  background-color: #0C3849;
  margin: 0 auto;
}
.container {
  width: 50%;
  margin: 0 auto;
}
.form-contact {
  width: 100%;
  font-family: "Arial", Times, serif;
}
.form-contact-input {
  width: 100%;
  color: #424251;
  font-size: 18px;
  background-color: #E9E9E9;
  border: 1px solid #E9E9E9;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  height: 40px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #0C3849;
  text-indent: 20px;
}
.form-contact-textarea {
  width: 100%;
  color: #292929;
  font-size: 18px;
  background-color: #E9E9E9;
  border: 1px solid #E9E9E9;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  height: 200px;
  margin-bottom: 20px;
  border-bottom: 1px solid #0C3849;
  border-left: 1px solid #0C3849;
  text-indent: 20px;
  padding-top: 16px;
  padding-left: 0;
  padding-right: 0;
  font-family: "Arial", Times, serif;
}
.form-contact-button {
  width: 100%;
  font-size: 18px;
  border-radius: 4px;
  color: #ffffff;
  height: 40px;
  opacity: .8;
  margin-bottom: 20px;
  cursor: pointer;
  background: #0C3849;
  display: block;
  border: none;
  border-bottom: 1px solid #090033;
  border-right: 1px solid #000c42;
  transition: 1s;
}
.form-contact-button:hover {
  opacity: 1;
}
.cont{
  height:100%;
      width: 100%;
      margin: 0 auto;
      background-image: url('../img/2.jpg');
      background-repeat: no-repeat;
      background-size: cover;
        background-color:#000000;
        font-family: "	Copperplate", Times, serif;
}